# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Game.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\files\H.E\Files\Programming\ulearn\Ulearn-Game\Game\.idea\.idea.Game.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
